*{
    margin: 0;padding: 0px;box-sizing: border-box;
}
.header{
    background-color: #ce0505;
    
}
.logo{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin: 15px 740px 15px 0;
    display: inline-block;
    color: #eb2929;
    background-color: #ffffff;
    text-align: center;
    font-weight: 600px;
    font-weight: 600;
    font-size: 33px;
    font-family: poppins;
    margin-left: 60px ;
}

.login{
    margin: 0px 20px 0px 0;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    font-family: Poppins;
    text-decoration: none;
}
.create-account{
    margin: 0px 0 0 10px;
    margin: 0px 0 0 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    border: solid 1px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.heading{
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-bottom: 10px;
    margin-left: 75px;   
}
.filter-heading{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-top: 20px;
}
.select-location{
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 30px;
}
.select-option{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
    border: solid 1px;
}
.Cuisine{
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-top: 12px;
    color: #192F60;
}
.checkbox-items{
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;    
}
.select1{
    display: inline-block;
    width: 25%;
}
.filters-items{
    background-color: #ffffff;
    padding-left: 50px;
    width: 250px;
    margin-left: 50px;
    display: inline-block;
    box-shadow: 0px 3px 6px #00000029;
    height: 682px;
}
.small-box{
    height: 525px;
    font-size: 80%;
    font-weight: 400;
}
.item{
    width: 100%;
    height: 220px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #ffffff;
    margin-bottom: 15px;
}
.small-item{
    display: inline-block;
    width: 28%;
}
.vertical{
    vertical-align: top;
    display: inline-block;
}
.big{
    display: inline-block;
    width: 50%;
    position: absolute;
    left:418px;
    box-shadow: 0px 3px 6px #00000029;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 35px;
    margin-left: 25%;
    vertical-align: middle;
    border-style: none;
}
.big-item{
    display: inline-block;
    width: 68%;
}
.bigChill{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.fort{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.address{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
}
.margin-left{
    margin-left: 35px;
    display: inline-block;
    width: 150px;
    margin: 30px 0 0 10px;
    font-family: poppins;
    font-size: 16px;
    line-height: 2.0;
    color: #636f88;

}
.margin-right{
    display: inline-block;
    line-height: 2.0;
    color: #192f60;
    font-size: 16px;
    font-family: popppins;
}

.paginaton a{
    color: gray;
    padding: 8px 16px;
    text-decoration: none;
    border: solid 1px gray;
    border-radius: 15px;
    margin: 2px;
    display: inline-block;
}